    /* ----MY COLOR PALETTE---- */
    /* orange color: #c78c06; 
    /*beige: #ffe6ac;
    /*dark gray: #222;
    /*white: #fff; */

* { /* CSS reset */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.6;
    padding: 0;
    color: #222;
}

/* Mobile Version */

@media (max-width: 760px) {
    .container {
        max-width: 760px;
    }
    .header {
        padding: 1rem;
    }
    .nav {
        flex-direction: column;
        justify-content: flex-start;
    }
    .nav-list-mobile {
        text-align: center;
        display: block;
    }
    .nav-list-item {
        margin: 0;
    }

    .nav-list {
        display: none;
    }

    .nav-logo {
        margin: 0;
        width: 15%;
        height: 15%;
        background-color: #c78c06;
        display: none;
    }
    .nav-logo-mobile {
        display: block;
        background-color: #c78c06;
        padding: 1rem 0;
    }
    .nav-logo-mobile-image{
        display: block;
    }
    .nav-list-item-mobile {
        color: #222;
        text-align: center;
        font-size: 20px;
    }
    .search-nav {
        width: 100%;
    }
}