:root {
    --orange-color: #c78c06;
    --beige: #ffe6ac;
    --dark-gray: #222;
    --white-color: #fff;
}

/* CSS reset */
* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

/* Global Styles */
body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.first_section {
    border: 100px;

}

.navbar {
    background-color: rgb(40, 39, 39);
    padding: 0px;
    margin: 0px;
    padding: 15px 20px;
}

.navbar {
    display: flex;
    align-items: center;
    font-size: 20px;

}
.navbar-text {
    display: flex;
}
.navbar a{
    color: rgb(212, 145, 0);
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color:rgb(212, 145, 0);
    color: rgb(40, 39, 39);
}
.navbar li {
        float: center;
        list-style-type: none;
}
.cover-page img{
    min-width: 100%;
}

.cover-page {
    position: relative;
}
.cover-box {
    background-color: grey;
    position: absolute;
    top: 300px;
    left: 300px;
    bottom: 300px;
    right: 300px;
}


/* Mobile */

@media (min-width: 760px) {

}