    /* ----MY COLOR PALETTE---- */
    /* orange color: #c78c06; 
    /*beige: #ffe6ac;
    /*dark gray: #222;
    /*white: #fff; */

* { /* CSS reset */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.6;
    padding: 0;
    color: #222;
}

.container {
    width: 1200px;
    margin: 0 auto;
}
.header {
    background-color: #222;
    padding: 2rem 3rem;
}
.nav {
    display: flex;
    justify-content: center;
}
.nav-logo {
    margin-right: 4rem;
}
.nav-list-mobile {
    display: none;
}
.nav-logo-mobile {
    display: none;
}
.nav-list {
    display: flex;
    flex: row;
    align-items: center;
}
.nav-list-item {
    color: #c78c06;
    font-size: 20px;
    margin-right: 40px;
    padding: 10px;
}


/* Mobile Version */

/* @media (max-width: 760px) {
    .container {
        max-width: 760px;
    }
    .header {
        padding: 1rem;
    }
    .nav {
        flex-direction: column;
        justify-content: flex-start;
    }
    .nav-list-mobile {
        text-align: center;
        display: block;
    }
    .nav-list-item {
        margin: 0;
    }

    .nav-list {
        display: none;
    }

    .nav-logo {
        margin: 0;
        width: 15%;
        height: 15%;
        background-color: #c78c06;
        display: none;
    }
    .nav-logo-mobile {
        display: block;
        background-color: #c78c06;
        padding: 1rem 0;
    }
    .nav-logo-mobile-image{
        display: block;
    }
    .nav-list-item-mobile {
        color: #222;
        text-align: center;
        font-size: 20px;
    }
    .search-nav {
        width: 100%;
    }
    .main {
        padding: 4rem 0;
    }

    .main-banner-image {
        max-width: 100%;
    }
 /* about us mobile  */
    .about-image {
        max-width: 100%;
    }
    .about-us {
        padding: 2rem 1rem;
    }
    
} */